@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.ceviche-one-regular {
    font-family: "Ceviche One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  